/* MainContent.css */
/* .main-content {
    .main-content {
        display: flex;
        justify-content: center;
        align-items: flex-start; 
        gap: 10px; 
        padding: 10px;
        overflow: auto; 
        max-width: 75vw;
        min-height: 100vh; 
      }
  } */
/*   
  .column {
    background-color: #6a0dad; 
    padding: 8px;
    width: 100%;
    max-width: 250px; 
    min-height: 200px; 
    border-radius: 4px; 
  } */
/*   
  .task {
    background-color: #fff; 
    padding: 6px;
    margin-bottom: 8px;
    border-radius: 4px; 
  }
  */
  