.medium-button {
  margin-top: 2vh;
  background-color: #ffffff; /* Green */
  border: none;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: medium;

  }

.medium-button:hover {
    background-color: rgba(255, 255, 255, 0.527);
  }