.medium-button {
    margin: 2px;
    background-color: beige;
    border-radius: 5px;
    width: inherit;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    height: fit-content;
    font-size: medium;
  }