.task-styling {
    height: 100vh;
    width: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(50, 1, 81);
    border: 1px solid black;
}
.profile {

    height: 122px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
    vertical-align: top;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    color: aliceblue;
    font-weight: bold;
    background-color: rgb(50, 1, 81);
}

.background{
    color: black;
}

