.task-styling {
    height: 100vh;
<<<<<<< Updated upstream
    width: 200px;
=======
    width: 11rem;
>>>>>>> Stashed changes
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(255, 255, 255);
}
.profile {
<<<<<<< Updated upstream

    height: 122px;
=======
    height: 16vh;
>>>>>>> Stashed changes
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
    vertical-align: left;
    color: black;
    font-weight: bold;
    background-color: white;
    border-bottom: 2px solid rgb(51, 204, 255);
}

.background{
    color: black;
}

