.menu-button {
    float:left;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5.69vh;
    width: 9rem;
    font-weight: bold;
    color: black;
    background-color: rgb(51, 204, 255);
    text-align: center;
    border: 1px solid black;
    margin-top: 20px;
    transition-duration: 0.4s;
    border: 2px solid rgb(51, 204, 255);
    
}

.Help {
    margin-top: auto;
    margin-bottom: 2vh;
}

.menu-button:hover {
    background-color: white; 
    color: black;
  }


