.menu-button {
    float:left;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    width: inherit;
    font-weight: bold;
    color: aliceblue;
    background-color: rgb(82,19,121);
    text-align: center;
    border: 1px solid black;
    border-radius: 2px;
    margin-top: 20px;
    cursor: pointer;
}

.Help {
    margin-top: auto;
    margin-bottom: 40px;
}


