
.personal {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the tasks container on the page */
  padding-left: 15vw; /* Adjust this as needed to prevent overlap with your sidebar */
}

.personal-header {
  font-size: 2em; /* Adjust size as needed */
  color: #000000; /* Text color */
  margin: 20px 0; /* Space above and below the header */
}

.tasks-container {
  width: 100%; /* Set the width to fill the container */
  max-height: 80vh;
  display: flex;
  flex-direction: column; /* Stack tasks vertically */
  gap: 10px; /* Space between tasks */
  align-items: center; /* Center the tasks in the container */
  overflow-y: auto; /* Allow scrolling */
}

.task-item {
  background-color: #6E44FF; /* Adjust the background color as needed */
  padding: 10px; /* Adjust padding as needed */
  border-radius: 5px; /* Rounded corners for task items */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add some shadow for depth */
  width: calc(100% - 20px); /* Adjust width as needed, accounting for padding */
  display: flex;
  justify-content: space-between;
  align-items: center;
}