/* Assuming that .sidebar already has the desired styles */

.personal {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the tasks container on the page */
    width: 100%;
  }
  
  .personal-header {
    height: 6.7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 50vh;
    color: black;
    font-weight: bold;
    align-items: center;
    background-color: white;
   
  }
  
  .tasks-container {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 20px; 
    margin-bottom: 5px; 
    color:black;
  }
  
  .task-item {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    margin-top: 20vh;
    background-color: white;
  }

  .task-itempersonal {
    padding: 35px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    margin-top: 20vh;
    background-color: white;
    display:flex;
    flex-direction: column;
  }
  
  .datepersonal{
    margin-top: 1vh;
    font-size: 10px;
  }

  .namepersonal{
    border-bottom: 2px solid rgb(51, 204, 255);
    font-weight: bold;
  }

  .checkboxpersonal{
    margin-top: 2vh;
    width: 100px;
    background-color: #eee;
  }
  
  .task-checkbox {
    position: fixed;
    cursor: move;
    color: black;
    max-width: 215px;
    overflow-wrap: break-word;
    border-radius: 5px;
    padding: 1em;
    margin: auto;
    user-select: none;
    height: 2vh;
  }
  
  .add-task-button {
    margin: 2px;
    margin-top: 2vh;
    background-color: rgb(51, 204, 255);
    border: none;
    color: rgb(0, 0, 0);
    padding: 1.5vh 5.5vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    border-width: 20px;
    transition-duration: 0.4s;
    border: 2px solid rgb(51, 204, 255);
    margin:2vh;
  }
  
  .add-task-button:hover {
    background-color: white; 
    color: black;
  }
  
  .remove-task-btn {
    margin-top: 1vh;
    padding: 4px 8px;
    background: #FF4A4A;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;

  }
  
  .remove-task-btn:hover {
    background: #FF6565;
  }


  .buttonandinput{
    padding:2px;
    padding-left:5px;
    padding-top: 4px;
    border-radius: 11px;
   
    background-color:white;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .input{
    width: 10rem;
  }

  .calendar{
    margin-left:2px;
    width: 20rem;
    height: 3.9vh;
	  font-size:large;
  }


  .donebutton{
    margin: 2px;
    margin-top: 2vh;
    background-color: rgb(51, 204, 255);
    border: none;
    color: rgb(0, 0, 0);
    padding: 1.5vh 5.5vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    border-width: 20px;
    transition-duration: 0.4s;
    border: 2px solid rgb(51, 204, 255);
    margin-left:0.5vh;
  }

  .donebutton:hover{
    background-color: white;
    color: black;
  }