#root {
    background-color: rgb(51, 204, 255);
    background: linear-gradient(0deg, rgba(41,145,173,1) 0%, rgba(51,204,255,1) 43%, rgba(34,207,255,1) 59%, rgba(0,212,255,1) 100%);
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.register {
    text-align: center;
    position:relative;
    background-color: rgb(255, 255, 255);
    padding:50px;
    border-radius: 15px;
    border-width: 20px;
}

.registration {
    color:rgb(0, 0, 0);
    font-size: 3vh;
    margin-bottom:5vh;
}

.registerbutton{
    margin: 2px;
    margin-top: 2vh;
    background-color: rgb(51, 204, 255);
    border: none;
    color: rgb(0, 0, 0);
    padding: 1.5vh 5.5vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    border-width: 20px;
    transition-duration: 0.4s;
    border: 2px solid rgb(51, 204, 255);
}
.registerbutton:hover {
    background-color: white; 
    color: black;
}
.label2{
    font-size: small;
    color:black;
}